<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.ws.dao.EmpDepSysDao">
  <resultMap id="BaseResultMap" type="site.shzu.ws.model.EmpDepSys">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emp_dep_id" jdbcType="INTEGER" property="empDepId" />
    <result column="account_num" jdbcType="VARCHAR" property="accountNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, emp_dep_id, account_num, name, phone, email
  </sql>

  <select id="getUncheckedEmpDepSysList" resultType="java.util.HashMap">
    select eds.account_num accountNum,ed.dep_name departmentName,eds.`name`,eds.phone,eds.email,
    CASE u.`status`
    WHEN '2' THEN '待审核'
    END status,DATE_FORMAT(u.create_time,'%Y-%m-%d %H:%i:%s') createTime
    from emp_dep_sys eds,`user` u,emp_dep ed
    where eds.account_num = u.account_num and eds.emp_dep_id = ed.id and u.`status` = '2'
    <if test="search != null and search != ''">
      and eds.account_num = #{search}
    </if>
  </select>

  <select id="getEmpDepSysList" resultType="java.util.HashMap">
    select eds.account_num accountNum,ed.dep_name departmentName,eds.`name`,eds.phone,eds.email,
    CASE u.`status`
    WHEN '0' THEN '锁定'
    WHEN '1' THEN '正常'
    END status,DATE_FORMAT(u.last_login_time,'%Y-%m-%d %H:%i:%s') lastLoginTime
    from emp_dep_sys eds,`user` u,emp_dep ed
    where eds.account_num = u.account_num and eds.emp_dep_id = ed.id and (u.`status` = '1' or u.`status` = '0')

    <if test="search != null and search != ''">
      and eds.account_num = #{search}
    </if>
  </select>

  <update id="unlockDepSysByAccountNum" parameterType="java.lang.String">
    update user set `status` = '1' where account_num = #{accountNum}
  </update>

  <update id="lockDepSysByAccountNum" parameterType="java.lang.String">
    update user set `status` = '0' where account_num = #{accountNum}
  </update>

  <update id="passEmpDepSys" parameterType="java.lang.String">
    update user set `status` = '1' where account_num = #{accountNum}
  </update>

  <update id="noPassEmpDepSys" parameterType="java.lang.String">
    update user set `status` = '-2' where account_num = #{accountNum}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emp_dep_sys
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emp_dep_sys
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.shzu.ws.model.EmpDepSys">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emp_dep_sys (id, emp_dep_id, account_num, 
      name, phone, email)
    values (#{id,jdbcType=INTEGER}, #{empDepId,jdbcType=INTEGER}, #{accountNum,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.ws.model.EmpDepSys">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emp_dep_sys
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="empDepId != null">
        emp_dep_id,
      </if>
      <if test="accountNum != null">
        account_num,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="empDepId != null">
        #{empDepId,jdbcType=INTEGER},
      </if>
      <if test="accountNum != null">
        #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.shzu.ws.model.EmpDepSys">
    update emp_dep_sys
    <set>
      <if test="empDepId != null">
        emp_dep_id = #{empDepId,jdbcType=INTEGER},
      </if>
      <if test="accountNum != null">
        account_num = #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.shzu.ws.model.EmpDepSys">
    update emp_dep_sys
    set emp_dep_id = #{empDepId,jdbcType=INTEGER},
      account_num = #{accountNum,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>