<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.ws.dao.EvaluateDao">
  <resultMap id="BaseResultMap" type="site.shzu.ws.model.Evaluate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_contract_id" jdbcType="INTEGER" property="jobContractId" />
    <result column="sxpd" jdbcType="VARCHAR" property="sxpd" />
    <result column="jyjs" jdbcType="VARCHAR" property="jyjs" />
    <result column="gztd" jdbcType="VARCHAR" property="gztd" />
    <result column="gznl" jdbcType="VARCHAR" property="gznl" />
    <result column="xzjs" jdbcType="VARCHAR" property="xzjs" />
    <result column="zhsz" jdbcType="VARCHAR" property="zhsz" />
    <result column="evaInfo" jdbcType="VARCHAR" property="evainfo" />
    <result column="evaluater" jdbcType="VARCHAR" property="evaluater" />
    <result column="evaluate_time" jdbcType="TIMESTAMP" property="evaluateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, job_contract_id, sxpd, jyjs, gztd, gznl, xzjs, zhsz, evaInfo, evaluater, evaluate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evaluate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.shzu.ws.model.Evaluate">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into evaluate (id, job_contract_id, sxpd, 
      jyjs, gztd, gznl, xzjs, 
      zhsz, evaInfo, evaluater, 
      evaluate_time)
    values (#{id,jdbcType=INTEGER}, #{jobContractId,jdbcType=INTEGER}, #{sxpd,jdbcType=VARCHAR}, 
      #{jyjs,jdbcType=VARCHAR}, #{gztd,jdbcType=VARCHAR}, #{gznl,jdbcType=VARCHAR}, #{xzjs,jdbcType=VARCHAR}, 
      #{zhsz,jdbcType=VARCHAR}, #{evainfo,jdbcType=VARCHAR}, #{evaluater,jdbcType=VARCHAR}, 
      #{evaluateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.ws.model.Evaluate">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into evaluate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="jobContractId != null">
        job_contract_id,
      </if>
      <if test="sxpd != null">
        sxpd,
      </if>
      <if test="jyjs != null">
        jyjs,
      </if>
      <if test="gztd != null">
        gztd,
      </if>
      <if test="gznl != null">
        gznl,
      </if>
      <if test="xzjs != null">
        xzjs,
      </if>
      <if test="zhsz != null">
        zhsz,
      </if>
      <if test="evainfo != null">
        evaInfo,
      </if>
      <if test="evaluater != null">
        evaluater,
      </if>
      <if test="evaluateTime != null">
        evaluate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="jobContractId != null">
        #{jobContractId,jdbcType=INTEGER},
      </if>
      <if test="sxpd != null">
        #{sxpd,jdbcType=VARCHAR},
      </if>
      <if test="jyjs != null">
        #{jyjs,jdbcType=VARCHAR},
      </if>
      <if test="gztd != null">
        #{gztd,jdbcType=VARCHAR},
      </if>
      <if test="gznl != null">
        #{gznl,jdbcType=VARCHAR},
      </if>
      <if test="xzjs != null">
        #{xzjs,jdbcType=VARCHAR},
      </if>
      <if test="zhsz != null">
        #{zhsz,jdbcType=VARCHAR},
      </if>
      <if test="evainfo != null">
        #{evainfo,jdbcType=VARCHAR},
      </if>
      <if test="evaluater != null">
        #{evaluater,jdbcType=VARCHAR},
      </if>
      <if test="evaluateTime != null">
        #{evaluateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.shzu.ws.model.Evaluate">
    update evaluate
    <set>
      <if test="jobContractId != null">
        job_contract_id = #{jobContractId,jdbcType=INTEGER},
      </if>
      <if test="sxpd != null">
        sxpd = #{sxpd,jdbcType=VARCHAR},
      </if>
      <if test="jyjs != null">
        jyjs = #{jyjs,jdbcType=VARCHAR},
      </if>
      <if test="gztd != null">
        gztd = #{gztd,jdbcType=VARCHAR},
      </if>
      <if test="gznl != null">
        gznl = #{gznl,jdbcType=VARCHAR},
      </if>
      <if test="xzjs != null">
        xzjs = #{xzjs,jdbcType=VARCHAR},
      </if>
      <if test="zhsz != null">
        zhsz = #{zhsz,jdbcType=VARCHAR},
      </if>
      <if test="evainfo != null">
        evaInfo = #{evainfo,jdbcType=VARCHAR},
      </if>
      <if test="evaluater != null">
        evaluater = #{evaluater,jdbcType=VARCHAR},
      </if>
      <if test="evaluateTime != null">
        evaluate_time = #{evaluateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.shzu.ws.model.Evaluate">
    update evaluate
    set job_contract_id = #{jobContractId,jdbcType=INTEGER},
      sxpd = #{sxpd,jdbcType=VARCHAR},
      jyjs = #{jyjs,jdbcType=VARCHAR},
      gztd = #{gztd,jdbcType=VARCHAR},
      gznl = #{gznl,jdbcType=VARCHAR},
      xzjs = #{xzjs,jdbcType=VARCHAR},
      zhsz = #{zhsz,jdbcType=VARCHAR},
      evaInfo = #{evainfo,jdbcType=VARCHAR},
      evaluater = #{evaluater,jdbcType=VARCHAR},
      evaluate_time = #{evaluateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>