<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.ws.dao.NoticeDao">
  <resultMap id="BaseResultMap" type="site.shzu.ws.model.Notice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="tittle" jdbcType="VARCHAR" property="tittle" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="site.shzu.ws.model.Notice">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, publisher, publish_time, tittle, url
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="getNoticeListByStu" resultType="java.util.HashMap">
    select id,tittle,DATE_FORMAT(publish_time,'%Y-%m-%d %H:%i:%s') publishTime from notice order by id desc
  </select>

  <select id="getLast3Notice" resultType="java.util.HashMap">
    select id,tittle,DATE_FORMAT(publish_time,'%Y-%m-%d %H:%i:%s') publishTime from notice order by id desc limit 4
  </select>

  <select id="getNoticeList" resultType="java.util.HashMap">
    select n.id noticeId,n.publisher,DATE_FORMAT(n.publish_time,'%Y-%m-%d %H:%i:%s') publishTime,n.tittle,n.content
    from notice n
    <if test="search != null and search != ''">
      where n.tittle = #{search}
    </if> order by n.id desc
  </select>

  <delete id="delSomeNotice" parameterType="java.util.ArrayList">
    delete from notice
    WHERE id IN
    <foreach collection="noticeIdArr" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <select id="getNoticeById" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select id,publisher,DATE_FORMAT(publish_time,'%Y-%m-%d %H:%i:%s') publishTime,tittle,content from notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.shzu.ws.model.Notice">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into notice (id, publisher, publish_time, 
      tittle, url, content
      )
    values (#{id,jdbcType=INTEGER}, #{publisher,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{tittle,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.ws.model.Notice">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="publisher != null">
        publisher,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="tittle != null">
        tittle,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tittle != null">
        #{tittle,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.shzu.ws.model.Notice">
    update notice
    <set>
      <if test="publisher != null">
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tittle != null">
        tittle = #{tittle,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="site.shzu.ws.model.Notice">
    update notice
    set publisher = #{publisher,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      tittle = #{tittle,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.shzu.ws.model.Notice">
    update notice
    set publisher = #{publisher,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      tittle = #{tittle,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>