<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.ws.dao.PermissionInitDao">
  <resultMap id="BaseResultMap" type="site.shzu.ws.model.PermissionInit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission_init" jdbcType="VARCHAR" property="permissionInit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, url, permission_init
  </sql>
  <select id="selectAllPermissionInit" resultMap="BaseResultMap">
    select * from permission_init order by id desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission_init
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission_init
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.shzu.ws.model.PermissionInit">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into permission_init (id, url, permission_init
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{permissionInit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.ws.model.PermissionInit">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into permission_init
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="url != null">
        url,
      </if>
      <if test="permissionInit != null">
        permission_init,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionInit != null">
        #{permissionInit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.shzu.ws.model.PermissionInit">
    update permission_init
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionInit != null">
        permission_init = #{permissionInit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.shzu.ws.model.PermissionInit">
    update permission_init
    set url = #{url,jdbcType=VARCHAR},
      permission_init = #{permissionInit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>