<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.shzu.ws.dao.SysDao">
  <resultMap id="BaseResultMap" type="site.shzu.ws.model.Sys">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_num" jdbcType="VARCHAR" property="accountNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_num, name, phone, email
  </sql>

  <select id="getAdminInfo" resultType="java.util.HashMap">
    select u.account_num accountNum,u.nick_name nickName,u.last_login_time lastLoginTime,s.name,s.phone,s.email
    from sys s,user u where s.account_num = u.account_num and u.account_num = #{accountNum}
  </select>

  <select id="getAdminList" resultType="java.util.HashMap">
    select u.id,s.account_num accountNum,s.name,s.phone,s.email,DATE_FORMAT(u.last_login_time,'%Y-%m-%d %H:%i:%s') lastLoginTime
    from sys s,user u where s.account_num = u.account_num
    <if test="search != null and search != ''">
      and s.account_num = #{search}
    </if> order by s.id desc
  </select>

  <update id="updateByAccountNum" parameterType="site.shzu.ws.model.Sys">
    update sys
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where account_num = #{accountNum,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.shzu.ws.model.Sys">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys (id, account_num, name, 
      phone, email)
    values (#{id,jdbcType=INTEGER}, #{accountNum,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="site.shzu.ws.model.Sys">
    insert into sys
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountNum != null">
        account_num,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountNum != null">
        #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.shzu.ws.model.Sys">
    update sys
    <set>
      <if test="accountNum != null">
        account_num = #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.shzu.ws.model.Sys">
    update sys
    set account_num = #{accountNum,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>